@charset "utf-8";
/* CSS Document */


body {

    background-image:url("background_tile.jpg");

}

/* This is the general text style for readable text */
p {
   font-family: verdana;
   font-size: 12px;
   text-align: left;
}


/* This is the general text styleing for Topic Headers */
h1 {
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}

body {

    margin: auto;
    
}

/* This is the general styleing for links */

a:link, a:visited {
	    color: black;
	    padding: 10px 2px;
	    text-align: left;
	    text-decoration: none;
	    display: block;
	    background-color: #b3b3b3;
	    padding: 2px;
            border: 2px solid;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	}

a:hover {
    color: white;
    background-color: #b3b3b3;
    paddding: 2px;
    border: 2px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Goal: everything formats based on Title Width? */
/* Title Bar Style */
#titlebar {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 0px;
  font: normal 16px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(255,255,255,1);
  background: -webkit-radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
  background: -moz-radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
  background: radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
  background-position: 50% 50%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: auto auto;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  background-color: #bfbfbf;
  align: center;
  display: block;
    
}

/* Nav/Side Bar Style */
#sidebar {
    float: left; 
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 12%;
    height: 800px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 0px;
    font: normal 16px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(255,255,255,1);
    background: -webkit-radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
    background: -moz-radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
    background: radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}    

/* Page Content */
#pagecontent {
  float: center;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80%;
  height: auto;
  padding: 10px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 0px;
  font: normal 16px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(255,255,255,1);
  background: -webkit-radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
  background: -moz-radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
  background: radial-gradient(closest-side, rgba(56,56,56,1) 0, rgba(66,65,65,1) 100%);
  background-position: 50% 50%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: auto auto;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

