@charset "utf-8";
/* CSS Document */


body {

    background-image:url("background_tile.jpg");

}

/* This is the general text style for readable text */
p {
   font-family: verdana;
   font-size: 12px;
   text-align: left;
}


/* This is the general text styleing for Topic Headers */
h1 {
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}

/* This is the general styleing for links */

a:link, a:visited {
	    background-color: #bfbfbf; 
	    color: black;
	    padding: 10px 0px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;

	}

a:hover {
    color: white;
}

/* Nav Bar Style */
#sidebar {
    
    background-color: #bfbfbf;
    width: 120px;
    padding: 10px;
    border: 5px solid #737373;
    margin: 0;

}

/* Title Bar Style */
#titlebar {

    background-color: #bfbfbf;
    width: 90%;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
    
}

/* Page Content */
#pagecontent {

    position: relative;
    
    width: 960px;
    height: 100%
		
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    
}



		       

